<div class='recipe-listing-wrapper' onclick="window.location='./recipe/{{recipe_id}}';">
    <div class='image-card'>

    </div>
    <div class='recipe-data'>
        <h3>{{recipe_name}}</h3>
        <div>Prep Time: {{prep_time}} Difficulty: {{difficulty}}</div>
        <div>
            <a href='./profile/{{user_id}}'>{{display_name}}</a>
        </div>
    </div>
    <img class="list-add-button" src="/static/SVG/add-to-list-button.svg" />
</div>
