<link rel="stylesheet" type="text/css" href="/public/browse.css">
<script src="/public/browse.js"></script>
{{> header}}

<main class='content'>
     <aside class='filters-container'>
          <form action="/browse" method="get">
               <h2>Filter</h2>
               {{#if criteria_name}}
               <h3>Name</h3>
               {{criteria_name}}
               {{/if}}
               <h3>Difficulty</h3><input type="range" step="1" min='0' max="5" />
               <div id='ingredient-criteria-wrapper'>
                    <h3>Ingredients</h3>
                    {{#each ingredients}}
                    <div>
                         <input type="checkbox" id="ingredient-criteria" name="{{this.ingredient_name}}"
                              value="{{this.ingredient_name}}">
                         <label>{{this.ingredient_name}}</label>
                    </div>
                    {{/each}}
               </div>
          </form>

     </aside>

     <section id='recipes'>
          {{#if recipes}}
          {{#each recipes}}
          {{>recipe-listing this}}
          {{/each}}
          {{else}}
               <h1>No Results</h1>
          {{/if}}
          <div id='recipe-list-dropdown'>
               {{#each recipelists}}
               <u onclick="addToList({{this.list_id}})">{{this.list_name}}</u>
               {{/each}}
          </div>

     </section>
</main>