{{> header}}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="/static/profile.css">
<body>
    <div class="horizontal-center header-padding" id="profile-container">
        <div class="horizontal-left" id="profile-details">
            <!--<img src="/static/pasta.jpg" alt="Avatar" style="width:200px"></img>-->
            <h1 id="Display_Name">{{display_name}}</h1>
            <a id="User_ID" href="/profile/{{user_id}}">@{{user_id}}</a>
        </div>
        <!-- <div class="horizontal-right" id="profile-options">
            give the user editable options here maybe
        </div> -->

        <br />

        <div id="profile-actions">
            <div class="action-column">
                <h3>Public Recipes</h3>
                <div class="vert-list">
                    {{#if recipes}}
                        {{#each recipes}}
                            <div id="recipe-element" class="vert-list-element">
                                <img src="/static/pasta.jpg" alt="Recipe-Img" style="width:40px"></img>
                                <h4><a href="/recipe/{{recipe_id}}">{{recipe_name}}</a></h4>
                                <a href="/profile/{{../user_id}}">{{../display_name}}</a>
                                <a>Prep: {{prep_time}} mins</a>

                                {{#if ../own_profile}}
                                    <button id="deleteButton" onclick="deleteRecipe({{recipe_id}})">X</button>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h5>User has no recipes yet</h5>
                    {{/if}}

                    {{#if own_profile}}
                        <button id="createNewButton" onclick="window.location.href='/new-recipe'">Create A New Recipe</button>
                    {{/if}}
                </div>
            </div>
            <div class="action-column">
                <h3>Recipes Lists</h3>
                <div class="vert-list">
                    {{#if lists}}
                        {{#each lists}}
                            <div id="recipe-list-element" class="vert-list-element">
                                <h4><a href="/lists/{{list_id}}">{{list_name}}</a></h4>
                                <a href="/profile/{{../user_id}}">{{../display_name}}</a>

                                {{#if ../own_profile}}
                                    <button id="deleteButton" onclick="deleteList({{list_id}})">X</button>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h5>User has no recipe lists yet</h5>
                    {{/if}}

                    {{#if own_profile}}
                        <button id="createNewButton" onclick="window.location.href='/new-list'">Create A New Recipe List</button>
                    {{/if}}
                </div>
            </div>
            <div class="action-column">
                <h3>User Comments and Ratings</h3>
                <div class="vert-list">
                    {{#if comments}}
                        {{#each comments}}
                            <div id="comment-element" class="vert-list-element">
                                <p id="comment-body">{{comment_body}}</p>
                                <p>Commented by </p><a href="/profile/{{../user_id}}">{{../display_name}}</a>
                                <a href="/recipe/{{recipe_id}}">View Recipe Thread</a>

                                {{#if ../own_profile}}
                                    <button id="deleteButton" onclick="deleteComment({{comment_id}})">X</button>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h5>User has no comments or ratings yet</h5>
                    {{/if}}
                </div>
            </div>
            <div class="action-column">
                <h3>My Ingredients</h3>
                <div class="vert-list">
                    {{#if ingredients}}
                        {{#each ingredients}}
                            <div id="ingredient-element" class="vert-list-element">
                                <a id="ingredient-name">Ingredient: {{ingredient_name}}</a>
                                <a id="ingredient-quantity">Quantity: {{amount}}</a>

                                {{#if ../own_profile}}
                                    <button id="deleteButton" onclick="deleteIngredient({{ingredient_id}})">X</button>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h5>User has no ingredients yet</h5>
                    {{/if}}

                    {{#if own_profile}}
                        <button id="createNewButton" onclick="">Add an Ingredient</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</body>

{{> footer}}
