{{> header}}
<link rel="stylesheet" type="text/css" href="/static/recipe.css">
<div class='recipe-wrapper'>
    <div class='recipe-header'>
        <div>
            <a id='recipe-name'>{{recipe_name}}</a>
        </div>
        <a>Prep time: {{prep_time}}</a>
        

        <a>{{date_posted}}</a>

    </div>
    <a href='/profile/{{user_id}}'>
        {{display_name}}
    </a>
    
    <div id='ingredients'>
        Ingredients
        <ul>
        {{#each ingredients}}
            <li>{{this.amount}} {{this.ingredient_name}}</li>  
        {{/each}}
        </ul>
    </div>
        Directions
        {{directions}}
</div>